@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.3\ Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.4\ Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.2\ Montserrat-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.1\ Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}